@keyframes append-animate {
	from {
		transform: translateX(-20%);
		opacity: 0;
	}
	to {
		transform: translateX(0%);
		opacity: 1;
	}
}

/* animate new box */
.item-container  {
	animation: append-animate .3s linear;
}